:root {
    background: #1e1e2e;
}

body {
    font-family: Arial, sans-serif; /* Ensures consistent font */
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace !important;
    font-size: 2em;
    line-height: 1.5em;
    margin: 20px 0;
}

.header-content {
    background-color: #1e1e2e;
    color: white;
    padding: 100px 5px 10px;
}

.subheader-content {
    color: white;
    font-size: 1.125em;
    padding: 0 5px 40px;
}

.social-links {
    color: #89b4fa;
    font-size: 1.75em;
    text-decoration: none;
}

.social-links td {
    padding: 0 15px;
}

img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: cover; /* Ensures image fits well in the circle */
}

p {
    font-family: monospace !important;
    font-size: 1.125em;
    line-height: 1.6em;
    max-width: 800px; /* Limits paragraph width for readability */
    margin: 0 auto;
    padding: 0 15px; /* Adds some padding for small screens */
}

main {
    color: white;
    padding: 20px;
}
